h1{
  color: #eb3333;
  font-weight: 800;
  font-size: 2.2em;
  line-height: 1.1;
  text-align: center;
}

h2 {
  display: none;
  color: rgb(228, 228, 228);
  background: #3a9fe3;
  border-top: 2px solid rgb(228, 228, 228);
  border-bottom: 2px solid rgb(228, 228, 228);
  padding: 20px 50px;
  width: 100%;

}

body {
  background-size: cover;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-family: sans-serif;
  color: #333333;
  font-size: 1.4em;
  padding: 2%;
}

.mainDiv {
  width: 70%;
  border-radius: 10px;
  box-shadow: 0px 0px 8px #555555;
  display: flex;
  margin-top: 15px;
}

.innerDivs {
  width: 50%;
}

.leftDiv {
  background-color: #292728;
  color: white;
  border-radius: 10px 0 0 10px;
  padding: 0 0 0 30px;
}

.rightDiv {
  background: url("http://brynn.genesisbox.ca/dog-placeholder.jpg") no-repeat center;
  background-size: cover;
  border-radius: 0 10px 10px 0px;
}

fieldset {
  padding: 40px;
  border: none;
}

input, label {
  margin: 15px 0;
}


p {
  display: block;
  font-weight: 700;
}

#submit {
  margin: 40px 0 15px 0;
  padding: 20px 40px;
  background-color: #c5302f;
  color: white;
  border-radius: 10px;
  border: 2px solid white;
  font-weight: 700;
  font-size: 1em;
  display: block;
}

#photo {
  display: flex;
  align-items: flex-end;
  text-align: center;
}

.radioButton{
  width: 15px;
  height: 15px;
  margin: 15px 10px 15px 20px;
}

/********************
Media queries
********************/

@media all and (max-width: 809px) {
  
  .mainDiv {
    width: 90%;
    display: flex;
    flex-flow: column;
  }

  .innerDivs {
    width: 100%;
  }  
  .leftDiv {
    border-radius: 10px 10px 0 0;
    padding: 0 0 0 0px;
  }
  .rightDiv {
    height: 500px;
    border-radius: 0 0 10px 10px;
  }

  h1 {
    font-size: 1.4em;
    line-height: 1;
  }
}
